body {
	background-color: red;
	width: 100%;
}

a {
	text-decoration: none;
	padding: 30px;
}

#wrapper {
	width: 100%;
}

header {
	background-color: blue;
	padding: 30px;
	width: 100%;
}

h1, h2, a {
	color: white;
}

.main-nav {
	text-align: center;
}

ul {
	text-align: center;
}

li {
	background-color: green;
	padding: 100px;
	margin: 60px;
	text-decoration: none;
	list-style: none;
	display: inline-block;
	
}